@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header">
    <h1>Welcome to the CodePacer Website!</h1>
</div>

<div id="services" class="section" style="margin-top: 50px">
    <h2>This site was built on Azure, using Terraform, with the following features ...</h2>
    <ul>
        <li>Application Gateway</li>
        <li>Key Vault</li>
        <li>Web App</li>
        <li>Managed Identity</li>
        <li>More ...</li>
    </ul>
</div>

<div style="width: 75%; max-width: 100%;  height: auto; overflow: hidden;">
    <img style="width: 75%; height: auto; ;" src="~/img/codepacerinfrastructure.png" />
</div>

<div style="margin-top: 50px">
<p>This page has minimal content, but more will be coming soon!</p>
</div>


